body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6; 
}

.simpleModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* overflow: auto; */
    background-color: yellow;
    margin: auto;
    justify-content: center;
    align-items: baseline;
}

.modal-content {
    background-color:blue;
    margin: 10% auto;
    padding: 20px;
    height: 66%;
    width: 85%;
    font-size: 25px;
    line-height: 5;
    color:white;

}

.closeBtn {
    color: #ccc;
    float: right;
    top: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align: center;
}

#gameboard {
    background-color: blue;
    display: flex;  
    /* flex-basis: 80vh; */
    margin: auto;
    height: 627px;
    width: 880px
    
}
/* 
.answers {
    background-color: blue;
    display: inline-flex;  
    flex-basis: 80vh;
    margin: auto;
    height: 527px;
    width: 880px
    

} */

.container
{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    background-color: grey;
    border: solid rgba(255, 255, 0, 0.885) 3px;
    color: white;
}

.cat1 > div{
    height: 100px;
    width: 170px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat2 > div{
    height: 100px;
    width: 170px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat3 > div{
    height: 100px;
    width: 170px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat4 > div{
    height: 100px;
    width: 170px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat5 > div{
    height: 100px;
    width: 170px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fj {
    height: 94px;
    width: 874px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    position: relative;
    top: 666px;
    left: 35px;
    margin: auto;
}

.points {
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.points:hover {
    color: gold;
}

.button {
    background: yellow;
    padding: 1em 2em;
    color: black;
    border: 0;
}

.button:hover {
    background: darkgreen;
}
