/* body {
    
} */

h1 {
    text-align: center;
    

}

#gameboard {
    background-color: blue;
    display: flex;  
    flex-basis: 80vh;
    margin: auto;
    height: 527px;
    width: 880px
    
}

.answers {
    background-color: blue;
    display: inline-flex;  
    flex-basis: 80vh;
    margin: auto;
    height: 527px;
    width: 880px
    

}

.container
{
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* flex-wrap: nowrap; */

}
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    background-color: grey;
    border: solid rgba(255, 255, 0, 0.885) 3px;
    /* text-align: center; */
    color: white;
    
}

.Cat1 > div{
    height: 100px;
    width: 170px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cat2 > div{
    height: 100px;
    width: 170px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cat3 > div{
    height: 100px;
    width: 170px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cat4 > div{
    height: 100px;
    width: 170px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cat5 > div{
    height: 100px;
    width: 170px;
    border: solid rgb(167, 35, 26) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.points {
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.points:hover {
    color: gold;
}